# loops

## for loop

In [60]:
snacks = ["pizza","burger","donut","chocolate"]
for i in snacks :
    print(i)
print("have a nice day")

pizza
burger
donut
chocolate
have a nice day

In [ ]:
n = "gunna bhai"
for n in n :
    print(n)

In [ ]:
n =[2,3,4,5]
for i in n :
    print(i*2)

In [ ]:
c = [1,2,3,4,5,6,7,8,9,10]
for i in c:
    if i % 2 == 0 :
        print(i,"is even number")
    else :
        print(i,"is odd number")

 # 1 -8 - 2024

## range generator

In [1]:
 for i in range (3):
     print("hello")

hello
hello
hello

In [3]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [7]:
a = int(input(" enter the number"))
for i in range (1,11):
    print(i*a)

 enter the number 1

1
2
3
4
5
6
7
8
9
10

# nested for loop

In [ ]:
a = ["red","blue","green","orange"]
b = ["apples","bananas","grapes","oranges"]
for i in a :
    for j in b:
        print(i,j)

In [ ]:
for i in range (2) :
    print(i)
    for j in range(10,13) :
        print(i,j)

In [ ]:
for i in range (1,11):
    for j in range(1,11):
        print(i*j,end = " " )
    print()

# while loop

In [12]:
 i = 1
while i<=5 :
    print(i)
    i = i + 1

1
2
3
4
5

In [14]:
 i = 10

In [16]:
i = 10
while i > 0 :
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [18]:

i = 0
while i < 5 :
    i = i + 1
    print("ram")

ram
ram
ram
ram
ram

In [20]:
i = 0
while i < 5 :
    i = i + 1
    print("ram")
else :
    print("loop ended")

ram
ram
ram
ram
ram
loop ended

# nested while loop

In [1]:
a = 1
b = 5
while a < 5 :
    print(a)
    while b<=10 :
        print(a,b)
        b = b+1
        a = a+1

1
1 5
2 6
3 7
4 8
5 9
6 10

# control statements in loops

In [ ]:
-- pass
-- break
-- continue

In [14]:
# pass
for i in "python" :
    if i == "h":
     pass
    else:
        print(i)

p
y
t
o
n

In [20]:
# break
for i in range(10):
    if i == 5 :
        break
    print(i)

0
1
2
3
4

In [22]:
#contine
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

# 05 - 08 -2024

# control statement for while loop

In [23]:
# pass
i = 1
while i < 5 :
    i = i + 1
    pass
    print(i)

2
3
4
5

In [73]:
# break
i = 1
while i < 6:
    print(i)
 if i == 3 :
     break
   i = i + 1

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [52]:
 # continue
i = 0 
while i < 6 :
    i = i + 1 
    if i == 3 :
        continue
    print(i)

1
2
4
5
6

# functions

In [ ]:
A function is a block of organized code written to carry out a specified task.
Functions help break our program into smaller and modular chunks for better readability
Information can be passed into a function as arguments.
5'
Parameters are specified after the function name inside the parentheses.
S
We can add as many parameters as may or may not return data.
we want. Parameters must be separated with a comma. A
Python a function is defined
sing the def keyword

types 
### -- in built function
### --- user defined function
### --- anonymous function

In [82]:
# basic example
def add (a,b):
    c = a + b
    return c 
add(2,3)

5

In [101]:
# in built function example
 x = -4
abs(x)

IndentationError: unexpected indent (3922385661.py, line 2)

In [99]:
def name ():
    return"hello world"
name()

'hello world'

In [117]:
def rectangle(l,b):
    c = l*b
    return c
rectangle (4,5)

20

In [121]:
def areaofsquare(a):
    c = a*a
    return(c)
areaofsquare(4)

16

In [139]:
def evenodd(a):
    a%2==0
    return"even"
else:
return"odd"
evenodd(10)
evenodd(13)

SyntaxError: invalid syntax (3703041539.py, line 4)

In [145]:
def result(s1,s2,s3):
    total= s1+s2+s3
    percentage= total/3
    if percentage > 50:
        print("pass")
    else:
        print("fail")
    return
s1 = int(input("enter s1:"))
s2 = int(input("enter s2:"))
s3 = int(input("enter s3:"))

enter s1: 30
enter s2: 40
enter s3: 30

In [149]:
# function without argument and without return value
def name():
    return
name()

In [153]:
# function with argument and without return value
def name():
    return()
name("hello")

TypeError: name() takes 0 positional arguments but 1 was given

In [157]:
# funcction without argument and with return
def name():
    return"hello world"
name()

'hello world'

In [163]:
# function with argument and without return value
def areaofcircle(r):
    c = 22/7 *(r*r)
    return c
areaofcircle(2)

12.571428571428571